:root {
    --nav-text-color-1: #D40210;
    --nav-text-color-1-hover: #630007;
}

body {
    background-color: #c9c7c6;
}
body:after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(/img-main/linkedin-icons-blue.png), url(/img-main/linkedin-icons-blue.png);
}

h1 {
    font-size: 26px;
    line-height: 32px;
    color: #fff;
    font-family: Roboto;
    font-weight: 600;
    text-transform: uppercase;
}
h2 {
    font-size: 26px;
    line-height: 32px;
    color: #fff;
    font-family: Roboto;
    font-weight: 600;
    text-transform: uppercase;
}
h3 {
    font-size: 26px;
    line-height: 32px;
    color: #fff;
    font-family: Roboto;
    font-weight: 600;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    line-height: 32px;
    color: #fff;
    font-family: Roboto;
}


a {
    font-size: 14px;
    line-height: 32px;
    color: #fff;
    font-family: Roboto;
    cursor: pointer;
}
.header-main {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(92, 18, 32); 
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.header-main-logo {
    width: fit-content;
    height: 100%;
    padding-left: 60px;
    display: flex;
} 

.header-main-logo img {
    height: 30px;
    align-self: center;
}


.header-main-nav {
    width: fit-content;
    height: 100%;
    display: flex;
} 

.header-main-nav ul {
    list-style: none;
    margin-right: 30px;
    padding-right: 300px;
} 

.header-main-nav ul li{
    display: inline;
    float: left;
    
} 
.header-main-nav ul li a{
    padding: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 60px;
    color: #000;
    display: block;
} 

.header-main-nav ul li a:hover{
    color: #D40210;
} 



.header-main-socmed {
    width: fit-content;
    height: 100%;
    padding-right: 60px;
    display: flex;
    align-items: center;
    column-gap: 10px;
} 

.header-main-socmed-fb {
    background-color: black;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    background-image: url(/img/lyode.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-main-socmed-fb:hover {
    background-image: url(/img/lyode2.jpg);
}

